/*ALL*/
*
{
    font-family: 'Raleway', sans-serif;
}
i
{
    color: #0065FC;
}
span i{
    color: #dadada;
}




/*HEADER*/
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: black;
}
#blue{
    color: #0065fc;
}
#black{
    color: black;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border: 1px solid black;
}
header img{
    width: 30%;

    border: 2px solid blue;
}
header nav{
    width: 30%;

    border: 2px solid green;
}
header ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    border: 2px solid red;
}




/*HÉBERGEMENTS*/


/*POPULAIRES*/


/*ACTIVITÉS*/


/*FOOTER */
footer
{
    background-color: #f2f2f2;
}

#conteneur
{
    display: flex;
    vertical-align: top;
    justify-content: space-around;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');