/*ALL*/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
i {
  color: #0065fc;
}
.grey {
  color: #dadada;
}
h2,
h3,
p,
div {
  border: 1px solid orange;
  width: 100%;
}

/*HEADER*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
#blue {
  color: #0065fc;
}
#black {
  color: black;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  border: 1px solid black;
}
header img {
  width: 30%;

  border: 2px solid blue;
}
header nav {
  width: 30%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;

  border: 2px solid green;
}
header ul {
  border: 2px solid red;
}

/*MENU*/
#menu {
  display: flex;
  flex-flow: row wrap;
}

/*HÉBERGEMENTS*/
#hebergements {
  display: flex;
  justify-content: space-around;
}
#hebergements div {
  border: 1px solid green;
  background-color: #f2f2f2;

  width: 55%;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
#hebergements div figure {
  width: 300px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  background-color: white;
  border: 1px solid red;
}

/*POPULAIRES*/
#populaires {
  border: 1px solid green;
  background-color: #f2f2f2;

  display: flex;
  align-items: center;
  flex-flow: column;
}
#populaires figure {
  width: 400px;
  height: 250px;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;

  background-color: white;
  border: 1px solid red;
}
#populaires img {
  border: 1px solid blue;

  overflow: hidden;
}
#populaires figcaption {
  border: 1px solid blue;
  position: relative;
  width: 70%;
}

/*ACTIVITÉS*/
#activites {
  background-color: #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#activites figure{
  width: 300px;
  height: auto;

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border: 1px solid black;

  flex-grow: 1;
}

#activites .column {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

/*FOOTER */
footer {
  background-color: #f2f2f2;

  display: flex;
  flex-flow: row nowrap;
  vertical-align: top;
  justify-content: space-around;
}
footer div {
  width: 31%;
}
footer ul {
  padding-left: 0px;
}
footer li {
  padding-bottom: 14px;
}

/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
