/*ALL*/
*
{
    font-family: 'Raleway', sans-serif;
}
i
{
    color: #0065FC;
}


/*HEADER*/
ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}
#blue{
    color: #0065fc;
}
#black{
    color: black;
}



/*HÉBERGEMENTS*/


/*POPULAIRES*/


/*ACTIVITÉS*/


/*FOOTER */
footer
{
    background-color: #f2f2f2;
}

#conteneur
{
    display: flex;
    vertical-align: top;
    justify-content: space-around;
}

.informations
{
    width : 400px;
    height: 200px;
}
/*
.informations:nth-child(1)
{
    background-color: orange;
}

.informations:nth-child(2)
{
    background-color: blue;
}

.informations:nth-child(3)
{
    background-color: greenyellow;
}*/

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');