/*ALL*/
* {
  font-family: "Raleway", sans-serif;
  
  
}
i {
  color: #0065fc;
}
.grey {
  color: #dadada;
}
h2,
h3,
p,
div {
  
  width: 100%;
}

/*HEADER*/

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
#blue {
  color: #0065fc;
}
#black {
  color: black;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  border: 1px solid black;
}
header img {
  width: 30%;

  border: 2px solid blue;
}
header nav {
  width: 30%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;

  border: 2px solid green;
}
header ul {
  border: 2px solid red;
}

/*MENU*/
#menu {
  display: flex;
  flex-flow: row wrap;
}

#recherche i{
  padding: 10px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: -4.1px;
  padding-top: 8.5px;
  padding-bottom: 11px;
}
#recherche input:nth-child(2){
  padding: 8px;
  
  font-style: bold;
  border: none;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
#recherche input:nth-child(3){
  padding: 10px;
  background-color: #0065FC;
  color: white;
  border:none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*FILTRES*/
#filtres button{
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  background-color: white;
  padding: 0px;
  box-sizing: border-box;
}
#filtres i{
  background-color: #DEEBFF;
  padding: 10px;
  border-radius: 20px;
  
}


/*HÉBERGEMENTS*/
#hebergements {
  display: flex;
  justify-content: space-around;
}
#hebergements div {
  

  width: 55%;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  border: 1px solid green;
  background-color: #f2f2f2;
  border-radius: 25px;
}
#hebergements div figure {
  width: 300px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  background-color: white;
  
  border-radius: 25px;
  box-shadow: 0px 0px 8px rgb(192, 192, 192);
}
#hebergements img:not(#populaires img){
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
}

#hebergements figure{
  padding: 10px;
}

/*POPULAIRES*/
#populaires {
  display: flex;
  align-items: center;
  flex-flow: column;

  border: 1px solid green;
  background-color: #f2f2f2;
  border-radius: 25px;
}
#populaires figure {
  width: 400px;
  height: 250px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;

  background-color: white;
  
  border-radius: 25px;
  box-shadow: 0px 0px 8px rgb(192, 192, 192);
}
#populaires figcaption {
  position: relative;
  width: 100%;
}
#populaires img{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/*ACTIVITÉS*/
#activites {
  

  margin: 4.9%;
  width: 90%;
  
  align-items: stretch;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;


  border : 1px solid green;
  border-radius: 25px;
}
#activites figure{
  width: 300px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  
  box-shadow: 0px 0px 8px rgb(192, 192, 192);
  border-radius: 25px;
  flex-grow: 1;
}
#activites .first{


  height: auto;
}
#activites .column {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}
#activites figcaption{
  padding: 10px;
}


/*FOOTER */
footer {
  background-color: #f2f2f2;

  display: flex;
  flex-flow: row nowrap;
  vertical-align: top;
  justify-content: space-around;
}
footer div {
  width: 31%;
}
footer ul {
  padding-left: 0px;
}
footer li {
  padding-bottom: 14px;
}

/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
